#which-host-container {
    position: fixed;
    bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    z-index: 10000;
}

#which-host-container.right {
    right: 0;
    text-align: right;
}

#which-host-container.left {
    left: 0;
    text-align: left;
}

#which-host-container .item {
    margin-top: 3px;
}

#which-host-container .item:first-child {
    margin-top: 0;
}

#which-host-container .hostname, .ip {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

#which-host-container .hostname {
    background: #337ab7;
    margin-right: 5px;
}

#which-host-container .ip {
    background: #5cb85c;
    margin-right: 2px;
}

#which-host-container .internal {
    background: #f0ad4e;   
}

#which-host-container .cache {
    background: #d9534f;
}